* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: serif;
    color: purple;
    margin-bottom: 10px;/*Recordar que el margin le da espacio con respecto a otros elementos*/
}

.tittle {
    font-size: 18px;
    font-family: monospace;
}
.nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;

}
.nav li{
    display: inline-block;
}
.nav a {
    color: white;
    background-color: #13a4a4;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}
.nav .blog{
    background-color: red;
}